<svg class="svg-icon svg-icon-codepen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <title>Codepen: <%- theme.codepen %></title>
  <foreignObject display="none">
    <div class="svg-fallback">Codepen: <%- theme.codepen %></div>
  </foreignObject>
  <style>
    .svg-icon-codepen-body{fill:#FFFFFF;} .svg-icon-codepen-bg{fill:#28282B;}
  </style>
  <circle class="svg-icon-codepen-bg" cx="50" cy="50" r="48.5"/>
  <path class="svg-icon-codepen-body" class="st0" d="M52.5 13.7c-2.1-1.3-4.8-1.3-6.8.1L15.3 34.4c-1.6 1.1-2.6 2.9-2.6 4.8v22.2c0 2 1 3.8 2.7 4.9l30.9 19.9c2 1.3 4.6 1.3 6.7 0L84.5 66c1.7-1.1 2.7-2.9 2.7-4.9V39.3c0-2-1-3.8-2.7-4.9l-32-20.7zm23.6 24.1l-11.6 7.6-10.9-7.7-.1-15.2 22.6 15.3zM45.5 22.5v14.9L34.3 45l-11.2-7.3 22.4-15.2zM20.1 45l7.2 4.7-7.2 4.9V45zm25.6 31.8L23.2 62.1l11.3-7.7 11.3 7.4c-.1 0-.1 15-.1 15zm-4.3-27.2l7.3-5 8.5 5.4-7.5 5-8.3-5.4zm12.3 27.2v-15l10.8-7 11.6 7.4-22.4 14.6zm25.6-21.9L71.6 50l7.7-5v9.9z"/>
  <a xmlns="http://www.w3.org/2000/svg" id="anchor" xlink:href="http://codepen.io/<%- theme.codepen %>/" xmlns:xlink="http://www.w3.org/1999/xlink" target="_blank">
    <rect x="0" y="0" width="100%" height="100%" fill-opacity="0"/>
  </a>
</svg>