<svg class="svg-icon svg-icon-github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <title>Github: <%- theme.github %></title>
  <foreignObject display="none">
    <div class="svg-fallback">Github: <%- theme.github %></div>
  </foreignObject>
  <style>
    .svg-icon-github-body{fill:#FFFFFF;} .svg-icon-github-bg{fill:#ACACAC;}
  </style>
  <circle class="svg-icon-github-bg" cx="50" cy="50" r="48.5"/>
  <path class="svg-icon-github-body" d="M81.6 49.3c.3-1.9.5-4.1.5-6.5 0-10.3-4.9-13.9-5.9-15.6 1.4-7.8-.2-11.3-1-12.5-2.8-1-9.7 2.6-13.5 5-6.2-1.8-19.2-1.6-24 .5-9-6.4-13.8-5.5-13.8-5.5s-3.1 5.5-.8 13.6c-3 3.8-5.2 6.4-5.2 13.5 0 1.7.1 3.3.3 4.8C20.9 60.1 31.5 65.9 42 66.9c-1.6 1.2-3.5 3.5-3.7 6.1-2 1.3-5.9 1.7-9 .7-4.3-1.4-6-9.9-12.5-8.7-1.4.3-1.1 1.2.1 2 2 1.3 3.8 2.9 5.3 6.3 1.1 2.6 3.4 7.3 10.7 7.3 2.9 0 4.9-.3 4.9-.3s.1 6.7.1 9.3c0 3-4 3.8-4 5.3 0 .6 1.3.6 2.4.6 2.1 0 6.5-1.8 6.5-4.9V78.4c0-3.2 1.7-4.2 1.7-4.2s.2 17-.4 19.2c-.7 2.7-2 2.3-2 3.5 0 1.8 5.3.4 7.1-3.5 1.4-3 .8-19.7.8-19.7h1.4v11.1c-.1 3.6-.4 8.2 1.7 10.3 1.4 1.4 5.7 3.9 5.7 1.6 0-1.3-3-2.4-3-6V74.2c1.8 0 2.2 5.4 2.2 5.4l.7 10s-.4 3.7 3.9 5.2c1.5.5 4.9.7 5-.2.2-.9-4-2.3-4-5.1 0-1.7.1-2.7.1-10.2 0-7.5-1-10.3-4.5-12.5 10-1 20.5-5.6 22.4-17.5z"/>
  <a xmlns="http://www.w3.org/2000/svg" id="anchor" xlink:href="https://github.com/<%- theme.github %>?tab=repositories" xmlns:xlink="http://www.w3.org/1999/xlink" target="_blank">
    <rect x="0" y="0" width="100%" height="100%" fill-opacity="0"/>
  </a>
</svg>