<svg class="svg-icon svg-icon-mail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
  <title>Mailto: <%- theme.mail %></title>
  <foreignObject display="none">
    <div class="svg-fallback">Mailto: <%- theme.mail %></div>
  </foreignObject>
  <style>
    /*.svg-icon-mail-body{fill:#FFFFFF;} .svg-icon-mail-bg{fill:#F4A62A;}*/
  </style>
  <!-- <circle class="svg-icon-mail-bg" cx="50" cy="50" r="48.5"/> -->
  <g class="svg-icon-mail-body">
    <path d="M59.2 52.8c-.1-.2-.3-.3-.6-.1l-6.7 3.9c-.8.5-1.7.5-2.5 0l-5.8-3.3c-.2-.1-.4-.1-.6 0L20.7 73.9c-.1.1-.1.2-.1.5 0 .1.1.2.2.4.5.1.8.2 1 .2h56.9c.1 0 .3-.1.5-.2 0-.3 0-.5-.1-.6L59.2 52.8z"/>
    <path d="M38.1 50.9c.1-.1.1-.2.1-.4s-.1-.4-.2-.4l-17.3-9.9c-.2-.1-.4-.1-.6 0-.1 0-.2.1-.2.4v26.1c0 .2.1.4.4.5h.2c.1 0 .2 0 .2-.1l17.4-16.2z"/>
    <path d="M81 39.7h-.5L64 49.5c-.1 0-.2.1-.2.4-.1.1 0 .2.1.4l16.5 17.8c.1.1.3.2.4.2h.2c.2-.2.4-.4.4-.5V40.2c0-.2-.1-.4-.4-.5z"/>
    <path d="M79.4 25H21.8c-.6 0-1 .2-1.5.5-.4.4-.6.9-.6 1.5v6.4c0 .3.1.5.4.5l30.2 17.2.2.1c.1 0 .3 0 .4-.1L80.2 34c.1-.1.3-.1.4-.1.1 0 .2 0 .4-.1.3 0 .5-.1.5-.5v-6.2c0-.6-.2-1.2-.6-1.5-.5-.4-1-.6-1.5-.6z"/>
  </g>
  <a xmlns="http://www.w3.org/2000/svg" id="anchor" xlink:href="mailto:<%- theme.mail %>" xmlns:xlink="http://www.w3.org/1999/xlink" target="_blank">
    <rect x="0" y="0" width="100%" height="100%" fill-opacity="0"/>
  </a>
</svg>
