// /*------------------------------------*\
//     #Z-INDEX
// \*------------------------------------*/

// z-index control

$global-z-index--menu-icon: 900;
$global-z-index--toc:       900;
$global-z-index--mask:      901;
$global-z-index--menu:      902;
