// /*------------------------------------*\
//     #MIXINS
// \*------------------------------------*/


@mixin border-hairline($args...) {
  border: 1px $args;

  .hairline & {
    border-width: 0.5px;
  }
}

@mixin box-shadow-top-inset {
  box-shadow: inset 0 6px 6px -6px rgba(0,0,0,0.23);
}
