// /*------------------------------------*\
//     #SQUARE
// \*------------------------------------*/

// responsive square
@mixin responsive-square {
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

%responsive-square {
  @include responsive-square;
}
