// /*------------------------------------*\
//     #SQUARE
// \*------------------------------------*/

// responsive square
%responsive-square {
  position: relative;

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}
