// /*------------------------------------*\
//     #SQUARE
// \*------------------------------------*/

// responsive square
%responsive-square {
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

@mixin responsive-square {
  @extend %responsive-square;
}
