/*------------------------------------*\
    #POST
\*------------------------------------*/

/*
 * 文章篇幅
 */
.article-entry {
  @extend %postify;

  background-color: #fff;
  text-align: justify;
  padding: $global-spacing-unit--small $global-spacing-unit--small;


  // 两侧边无缝贴合
  &,
  hr,
  > pre,
  .highlight {
    margin-left: -$global-spacing-unit--small;
    margin-right: -$global-spacing-unit--small;
  }



  // 居中
  > p > img,
  > table {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    word-wrap: break-word;
  }

  > p > img {
    display: block;
  }



  // markdown generated codeblock
  > pre {
    background: #1d1f21;
    color: #c5c8c6;
    border-radius: 0;
  }


  // codeblock
  .highlight {
    @extend %highlight;
  }
}


/*
 * 文章页脚
 */

.article-footer {
  // border-top: 1px lighten(#ddd, 10%) solid;
  margin: 0 (-$global-spacing-unit--small);
}

/*
 * post tags
 */

$article-tag-gutter: $global-spacing-unit--small / 2;
$article-tag-font-size:12px; //$global-font-size * .8;
$article-tag-color: #aaa;

.article-tag-list {
  padding: $article-tag-gutter $global-spacing-unit--small 0;
  background: $global-color-background;
  font-size: 0;
  @include box-shadow-top-inset;
}

.article-tag-list-item {
  display: inline-block;
  font-size: 0;
}

.article-tag-list-link {
  display: inline-block;
  margin-right: $article-tag-gutter;
  margin-bottom: $article-tag-gutter;
  padding: 0 ($global-spacing-unit--small * .8);
  font-size: $article-tag-font-size;
  vertical-align: middle;
  color: $article-tag-color;
  border: 1px $article-tag-color solid;
  border-radius: $article-tag-font-size * $global-line-height;
  transition: all 0.5s;

  &:hover {
    border-color: $global-color-theme;
    color: $global-color-theme;
  }
}


/*
 * post nav
 */

$nav-cap-font-size: $global-font-size;
$nav-cap-line-height: $global-line-height;
$nav-cap-height: $nav-cap-font-size * $nav-cap-line-height;
$nav-color-background: #fff;

#article-nav {
  text-align: center;
  background: $nav-color-background;
  padding: $global-spacing-unit--small;
}

.article-nav-link-wrap {
  display: block;
  position: relative;
  // display: inline-block;
  // width: 45%;
  margin-bottom: 0;
  padding: $nav-cap-height / 2;
  text-decoration: none;
  color: #999;
  @include border-hairline(solid #ddd);
}

#article-nav-newer {
  // text-align: center;
  // text-align: right;
  // margin-right: 1.5em;
}

#article-nav-older {
  margin-top: $global-spacing-unit--small;
  // text-align: center;
  // text-align: left;
}

  .article-nav-caption {
    display: block;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 $global-spacing-unit--tiny;
    font-size: $nav-cap-font-size;
    line-height: $nav-cap-line-height;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
    text-shadow: 0 1px #fff;
    background: $nav-color-background;
  }

  .article-nav-title {
    position: relative;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;

    &:before {
      content: '《';
    }

    &:after {
      content: '》';
    }
  }

#comments {
  margin: 0 (-$global-spacing-unit--small) $global-spacing-unit--small;
  padding: 0 $global-spacing-unit--small;
  @include box-shadow-top-inset;
}
