/*------------------------------------*\
    #POST
\*------------------------------------*/

/*
 * 文章篇幅
 */

.article-entry {
  @extend %postify;

  background-color: #fff;
  text-align: justify;
  padding: $global-spacing-unit--small;



  // 两侧边无缝贴合
  &,
  hr,
  > pre,
  .highlight {
    margin-left: -$global-spacing-unit--small;
    margin-right: -$global-spacing-unit--small;
  }



  // 居中
  > p > img,
  > table {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    word-wrap: break-word;
  }

  > p > img {
    display: block;
  }



  // markdown generated codeblock
  > pre {
    background: #1d1f21;
    color: #c5c8c6;
    border-radius: 0;
  }


  // codeblock
  .highlight {
    @extend %highlight;
  }
}


/*
 * 文章页脚
 */

#article-nav {
  text-align: center;
  margin-bottom: $global-spacing-unit--small;
}

.article-nav-link-wrap {
  display: inline-block;
  width: 45%;
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  vertical-align: top;

  @include breakpoint($breakpoint-full-cover) {
    display: block;
    width: initial;
  }
}

#article-nav-newer {
  text-align: right;
  margin-right: 1.5em;

  @include breakpoint($breakpoint-full-cover) {
    text-align: center;
    margin: 0 0 $global-spacing-unit--tiny;
  }
}

#article-nav-older {
  text-align: left;

  @include breakpoint($breakpoint-full-cover) {
    text-align: center;
  }
}

  .article-nav-caption {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
    line-height: 1em;
    font-weight: bold;
  }


