/*------------------------------------*\
    #POST
\*------------------------------------*/

// 文章篇幅

.article-entry {
  @extend %postify;

  background-color: #fff;
  text-align: justify;
  padding: $global-spacing-unit--small;



  // 两侧边无缝贴合
  &,
  hr,
  > pre,
  .highlight {
    margin-left: -$global-spacing-unit--small;
    margin-right: -$global-spacing-unit--small;
  }



  // 居中
  > p > img,
  > table {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-all;
    word-wrap: break-word;
  }

  > p > img {
    display: block;
  }



  // markdown generated codeblock
  > pre {
    background: #1d1f21;
    color: #c5c8c6;
    border-radius: 0;
  }


  // codeblock
  .highlight {
    @extend %highlight;
  }
}
