/*------------------------------------*\
    #PAGE
\*------------------------------------*/

$menu-icon-width: 45px;
$menu-icon-border: 4px;


.main-content {
  @include container(1920px);

  padding-left: $global-spacing-unit--small;
  padding-right: $global-spacing-unit--small;
  background-color: $global-color-background;

  @include breakpoint($breakpoint-single-column) {
    max-width: 1200px;
  }
}

.menu-icon {
  position: fixed;
  z-index: 900;
  top: 20px;
  left: 0;
  width: $menu-icon-width * 3;
  height: $menu-icon-width;
  opacity: .9;
  transition: all 0.3s;

  &:before,
  &:after {
    content: '';
    display: block;
    width: $menu-icon-width - $menu-icon-border;
    height: $menu-icon-width;
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 0 $menu-icon-border $menu-icon-border 0;
    background: #fff;
  }

  &:after {
    width: $menu-icon-width;
    z-index: -2;
    background: $global-color-theme;
    box-shadow: rgba(0, 0, 0, 0.2) 0 $menu-icon-border $menu-icon-border*2.5;
  }
}

  .menu-icon__logo {
    fill: $global-color-theme;
    height: 90%;
  }
