/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

// 文章页脚

.site-footer {
  background-color: $global-color-background-dark;
  padding: $global-spacing-unit $global-spacing-unit--small 0;
  color: lighten($global-color-link, 10%);

  @include breakpoint($breakpoint-handheld) {
    a:link,
    a:visited,
    a:active,
    a:hover {
      color: lighten($global-color-link, 20%);
    }
  }
}

  .new-articles {
    margin-bottom: $global-spacing-unit--large;
  }

    .new-articles__item {
      position: relative;
      border: 1px solid $global-color-link;
      padding: $global-spacing-unit--small;
      margin-bottom: $global-spacing-unit--small;

      @include breakpoint($breakpoint-handheld) {
        display: block;
        height: $global-spacing-unit--huge;
      }

      @include breakpoint($breakpoint-pc) {
        transition: border-color 0.5s;

        &:hover {
          border-color: $global-color-link-hover;
        }
      }
    }

    .new-articles__link {
      overflow: hidden;
    }

      .new-articles__title {
        font-size: 1.14rem;

        @include breakpoint($breakpoint-handheld) {
          position: absolute;
          height: 50%;
          top: $global-spacing-unit--small;
          left: $global-spacing-unit--huge;
          bottom: $global-spacing-unit--small;
          right: $global-spacing-unit--small;
          margin: auto 0;
          overflow: hidden;
        }
      }

      .new-articles__cover {
        background-color: lighten($global-color-background-dark, 5%);

        @include breakpoint($breakpoint-handheld) {
          height: $global-spacing-unit--huge - $global-spacing-unit--small * 2;
          width: $global-spacing-unit--huge - $global-spacing-unit--small * 2;
        }
      }

  .site-description {
    text-transform: uppercase;

    &:before {
      content: '';
      display: block;
      width: 50%;
      height: 5px;
      margin: 0 auto $global-spacing-unit;
      background-color: $global-color-link-hover;
    }

    &:after {
      display: block;
      width: 100%;
      margin: $global-spacing-unit--small auto;
      height: 1px;
      content: '';
      background: repeat-x center url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#333' x='0' y='0' width='1' height='0.5'/></svg>");
    }
  }

  .site-description,
  .copyright {
    text-align: center;
    margin-bottom: $global-spacing-unit--tiny;

    a:link,
    a:visited,
    a:active,
    a:hover {
      color: lighten($global-color-link-hover, 20%);
    }
  }
