/*------------------------------------*\
    #PAGE
\*------------------------------------*/

$susy: (
  columns: 12,
  gutters: 0,
);

.main-content {
  @include container(1920px);

  padding-left: $global-spacing-unit--small;
  padding-right: $global-spacing-unit--small;
  background-color: $global-color-background;

  @include breakpoint($breakpoint-single-column) {
    max-width: 1200px;
  }
}
