/*------------------------------------*\
    #WRAPPERS
\*------------------------------------*/

// page wrappers

$wrapper-sematic-naming: $global-semantic-naming !default;

@include sematic-fallback($wrapper-sematic-naming, wrapper);

%wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: $global-spacing-unit--small;
  padding-left: $global-spacing-unit--small;
}
