// /*------------------------------------*\
//     #COLORS
// \*------------------------------------*/


// page
$global-color-background: #f9f9f9;
$global-color-background-dark: #1e1d1d;
$global-color-hr:         #999;



// font
$global-color-text:       #333;
$global-color-link:       lighten($global-color-text, 10%);
$global-color-link-hover: #3187db;
