// /*------------------------------------*\
//     #COLOR
// \*------------------------------------*/


// page
$global-color-background: #f9f9f9;
$global-color-hr:         #999;



// font
$global-color-text:       #333;
$global-color-link:       lighten($global-color-text, 10%);
$global-color-link-hover: darken($global-color-link, 50%);
