/*------------------------------------*\
    #SVG-ICONS
\*------------------------------------*/

/**
 * styles for svg icons
 */

// scss-lint:disable PropertySpelling

//------- mixin -------//
%svg-icon-body {
  transition: fill 0.6s 0.3s;
}

%svg-icon-bg {
  transition: r 0.6s;
}

@mixin gen-svg-hover($icon, $color-body) {

  @include breakpoint($breakpoint-pc) {
    .svg-icon-#{$icon}:hover {
      .svg-icon-#{$icon}-body {
        fill: $color-body;
        transition-delay: 0.2s;
      }

      .svg-icon-#{$icon}-bg {
        r: 0;
      }
    }
  }

  .svg-icon-#{$icon}-body {
    @extend %svg-icon-body;
  }

  .svg-icon-#{$icon}-bg {
    @extend %svg-icon-bg;
  }
}
//---------------------//


@include gen-svg-hover(twitter, #55acee);
@include gen-svg-hover(github, #acacac);
@include gen-svg-hover(codepen, #28282b);
@include gen-svg-hover(mail, #f4a62a);
