/*------------------------------------*\
    #ABOUT
\*------------------------------------*/

.site-about {
  padding-top: $global-spacing-unit--small;
  background-color: #fff;
}

.about-intro {
  @extend %postify;
  padding: 0 $global-article-padding--small;

  @include breakpoint($breakpoint-monitor) {
    padding-left: $global-article-padding--large;
    padding-right: $global-article-padding--large;
  }
}

.my-social-media {
  .title {
    padding: 0 $global-article-padding--small 10px;

    @include breakpoint($breakpoint-monitor) {
      padding-left: $global-article-padding--large;
      padding-right: $global-article-padding--large;
    }
  }
}

// about page
.my-social-media-list {
  padding: $global-spacing-unit--small 0;
  font-size: 0;
  text-align: center;
  background: $global-color-background;
  @include box-shadow-top-inset;

  li {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 $global-spacing-unit--tiny;
  }

  a {
    @extend %absolute-blow-up;
    border-radius: 50%;

    &:hover {
      background: rgba(0,0,0,0.1);
    }
  }

  hr {
    margin: $global-spacing-unit--tiny 0;
    border: 0 none;
    border-bottom: 1px solid #ddd;
    @include border-hairline;
  }
}

$douban-r-item-width: $global-spacing-unit--large * 1.5;
$douban-r-item-height: $douban-r-item-width * 100 / 65;

$douban-r-item-width--small: $global-spacing-unit--large;
$douban-r-item-height--small: $douban-r-item-width--small * 100 / 65;

$douban-r-item-padding: $global-spacing-unit--tiny / 2;

.douban-recommendation {
  overflow: hidden;

  .title {
    padding: $global-spacing-unit--small $global-article-padding--small 6px;

    @include breakpoint($breakpoint-monitor) {
      padding-left: $global-article-padding--large;
      padding-right: $global-article-padding--large;
    }
  }

  table {
    table-layout: fixed;
    width: 20 * ($douban-r-item-width--small + $douban-r-item-padding * 2);
    height: $douban-r-item-height--small + $douban-r-item-padding * 2;

    td {
      width: $douban-r-item-width--small;
      height: $douban-r-item-height--small;
      padding: $douban-r-item-padding;
      border: none;
    }

    @include breakpoint($breakpoint-monitor) {
      width: 20 * ($douban-r-item-width + $douban-r-item-padding * 2);
      height: $douban-r-item-height + $douban-r-item-padding * 2;

      td {
        width: $douban-r-item-width;
        height: $douban-r-item-height;
      }
    }
  }
}

.douban-books-wrap,
.douban-movies-wrap {
  position: relative;
  overflow-y: hidden;

  // hides scroll bar and shows when pointer hovering
  @include breakpoint($breakpoint-monitor) {
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      top: $douban-r-item-height + $douban-r-item-padding * 2;
      left: 0;
      right: 0;
      background: #fff;
      transition: all 0.3s;
    }

    &:hover {
      &:after {
        opacity: 0;
        height: 0;
        transition: opacity 0.3s, height 0.3s 0.3s;
      }
    }
  }
}

.douban-books,
.douban-movies {
  overflow-x: scroll;
  overflow-y: hidden;

  // hides scroll bar
  @include breakpoint($breakpoint-handheld) {
    height: $douban-r-item-height--small + $douban-r-item-padding * 2;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.netease-music-playlist {
  .title {
    padding: $global-spacing-unit--small $global-article-padding--small 0;
  }

  @include breakpoint($breakpoint-monitor) {
    padding-left: $global-article-padding--large;
    padding-right: $global-article-padding--large;
  }
}
