/*------------------------------------*\
    #POST
\*------------------------------------*/

/*
 * 文章篇幅
 */
.article-entry {
  @extend %postify;

  background-color: #fff;
  // padding: 0 $global-article-padding--small;
  overflow: hidden;

  // @include breakpoint($breakpoint-monitor) {
  //   padding-left: $global-article-padding--large;
  //   padding-right: $global-article-padding--large;
  // }

  // 两侧空白
  > * {
    margin-left: $global-spacing-unit--small;
    margin-right: $global-spacing-unit--small;

    @include breakpoint($breakpoint-monitor) {
      margin-left: $global-article-padding--large;
      margin-right: $global-article-padding--large;
    }
  }

  hr {
    @include breakpoint($breakpoint-handheld) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  > table {
    max-width: 100%;
    word-break: break-all;
    word-wrap: break-word;
  }

  > p > img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  // markdown generated codeblock
  > pre {
    background: #1d1f21;
    color: #c5c8c6;
    border-radius: 0;
    margin-top: 1.29em;
    margin-bottom: 1.29em;
  }

  // codeblock
  .highlight {
    @extend %highlight;
  }

  // 代码两侧不留白
  > pre, // markdown generated codeblock
  .highlight {
    margin-left: 0;
    margin-right: 0;
    @include breakpoint($breakpoint-monitor) {
      padding-left: $global-article-padding--large;
    }
  }
}


/*
 * 文章页脚
 */

// .article-footer {
//   // border-top: 1px lighten(#ddd, 10%) solid;
//   // margin: 0 (-$global-spacing-unit--small);
// }

/*
 * post tags
 */

$article-tag-gutter: $global-spacing-unit--small / 2;
$article-tag-font-size:12px; //$global-font-size * .8;
$article-tag-color: #aaa;

.article-tag-list {
  padding: $article-tag-gutter $global-article-padding--small 0;
  background: $global-color-background;
  font-size: 0;
  @include box-shadow-top-inset;

  @include breakpoint($breakpoint-monitor) {
    text-align: center;
    padding-top: $article-tag-gutter * 2;
  }
}

.article-tag-list-item {
  display: inline-block;
  font-size: 0;
}

.article-tag-list-link {
  display: inline-block;
  margin-right: $article-tag-gutter;
  margin-bottom: $article-tag-gutter;
  padding: 0 ($global-spacing-unit--small * .8);
  font-size: $article-tag-font-size;
  vertical-align: middle;
  color: $article-tag-color;
  border: 1px $article-tag-color solid;
  border-radius: $article-tag-font-size * $global-line-height;
  transition: all 0.5s;

  @include breakpoint($breakpoint-monitor) {
    margin-bottom: $article-tag-gutter * 2;
  }

  &:link,
  &:visited {
    color: #808080;
  }

  &:hover {
    border-color: $global-color-theme;
    color: $global-color-theme;
  }
}


/*
 * post nav
 */

$nav-color-background: #fff;

#article-nav {
  position: relative;
  text-align: center;
  background: $nav-color-background;
  padding: $global-spacing-unit--small $global-article-padding--small 0;
  overflow: hidden;

  @include breakpoint($breakpoint-monitor) {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      margin-left: -4px;
      border-radius: 50%;
      background: #ddd;
      box-shadow: 0 1px 2px #fff;
    }
  }
}

.article-nav-link-wrap {
  margin-bottom: $global-spacing-unit;

  @include breakpoint($breakpoint-handheld) {
    display: block;
    position: relative;
    padding: 1em;
    text-decoration: none;
    color: #999;
    border: 1px solid #ddd;
    @include border-hairline;
    -webkit-tap-highlight-color: transparent;
  }

  @include breakpoint($breakpoint-monitor) {
    width: 50%;
  }
}

#article-nav-newer {
  @include breakpoint($breakpoint-monitor) {
    float: left;
    text-align: right;
    padding-right: 20px;
  }
}

#article-nav-older {
  @include breakpoint($breakpoint-handheld) {
    margin-top: $global-spacing-unit--small;
  }

  @include breakpoint($breakpoint-monitor) {
    float: right;
    text-align: left;
    padding-left: 20px;
  }
}

  .article-nav-caption {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ddd;
    text-shadow: 0 1px #fff;

    @include breakpoint($breakpoint-handheld) {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0 $global-spacing-unit--tiny;
      background: $nav-color-background;
    }
  }

  .article-nav-title {
    white-space: nowrap;

    @include breakpoint($breakpoint-handheld) {
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      padding: 0 $global-spacing-unit--tiny;
      background: $nav-color-background;
    }

    &:before {
      content: '《';
    }

    &:after {
      content: '》';
    }
  }

#comments {
  padding: 0 $global-spacing-unit--small;
  @include box-shadow-top-inset;
  background-color: $global-color-background;
}
