/*------------------------------------*\
    #CATEGORIES
\*------------------------------------*/

.category-item {
  position: relative;
  text-align: center;
}

.category-title {
  position: relative;
  z-index: 2;
  padding: $global-spacing-unit--large $global-spacing-unit--small;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fff;
}

.color-mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}
