/*------------------------------------*\
    #CATEGORIES
\*------------------------------------*/

.category-item {
  position: relative;
  text-align: center;
}

.category-title {
  position: relative;
  z-index: 2;
  padding: $global-spacing-unit--large $global-spacing-unit--small;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fff;
}

.color-mask {
  @extend %absolute-blow-up;
  z-index: 1;
  opacity: 0.8;
}
