/*------------------------------------*\
    #CATEGORIES
\*------------------------------------*/

.category-item {
  @include progressive-bg-container;
  text-align: center;
}

.category-item-thumbnail {
  @extend %progressive-bg-thumbnail;
}

.color-mask {
  @extend %progressive-bg-mask;
  opacity: 0.6;
}

.category-title {
  @include progressive-bg-content;
  position: relative;
  padding: $global-spacing-unit--large $global-spacing-unit--small;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #fff;

  @include breakpoint($breakpoint-monitor) {
    font-size: 6em;
    opacity: .9;
  }
}
