/*------------------------------------*\
    #COVER
\*------------------------------------*/

$cover-color-text: #fff !default;
$cover-color-link: #fff !default;
$cover-opacity: .8 !default;
$cover-article-meta-font-size: 12px !default;
$cover-article-meta-line-height: $global-line-height !default;

.site-cover {
  @include progressive-bg-container;
  position: relative;
  // padding: $global-spacing-unit $global-spacing-unit--small;
  overflow: hidden;

  @include breakpoint($breakpoint-handheld) {
    min-height: 100%;

    a:link,
    a:visited {
      color: $cover-color-link;
    }
  }

  &:before {
    @extend %progressive-bg-mask;
    content: '';
  }

  &:after {
    @extend %progressive-bg-mask--bottom;
    content: '';
  }

  @include breakpoint($breakpoint-monitor) {
    background: #fff !important;

    &:before,
    &:after {
      display: none;
    }
  }
}

  .site-cover-bg-thumb {
    @extend %progressive-bg-thumbnail;

    @include breakpoint($breakpoint-monitor) {
      display: none;
    }
  }

  .cover-logo {
    @include progressive-bg-content;
    @extend %responsive-square;
    @extend .icon-logo;
    position: absolute;
    width: 60%;
    margin: auto;
    top: 12%;
    left: 0;
    right: 0;
    opacity: $cover-opacity * .9;

    @include breakpoint(max-height 450px) {
      display: none;
    }

    @include breakpoint($breakpoint-monitor) {
      display: none;
    }
  }

  .cover-icon-down {
    @include progressive-bg-content;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: auto;
    height: 6%;
    opacity: $cover-opacity * .9;
  }

  .title-wrapper {
    @include progressive-bg-content;
    position: absolute;
    margin: auto;
    margin-bottom: $global-spacing-unit + $global-spacing-unit--tiny;
    padding: 0 $global-spacing-unit--small;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    opacity: $cover-opacity;

    @include breakpoint($breakpoint-monitor) {
      position: static;
      text-align: center;
      color: $global-color-text;
      margin-bottom: $global-spacing-unit;
    }
  }

    .site-title {
      font-size: 2.5em;
      line-height: 1.2;
      letter-spacing: 1px;
      word-wrap: break-word;
      margin: $global-spacing-unit 0;
    }


    .article-meta {
      font-size: 0;
    }

      .article-category {
        display: inline-block;

        &:after {
          content: '|';
          font-size: $cover-article-meta-font-size * .95;
          vertical-align: top;
          margin: 0 4px;
        }
      }
        .article-category-link {
          font-size: $cover-article-meta-font-size;
        }

      .article-date {
        margin-right: .5em;
        font-size: $cover-article-meta-font-size;
      }

      .cc-license-wrapper {
        display: inline-block;
        vertical-align: top;
      }

        .cc-license {
          height: 19px;
          width: 14px / 32 * 110;
          opacity: $cover-opacity;

          @include breakpoint($breakpoint-monitor) {
            fill: $global-color-link;
          }

          &:hover {
            fill: $global-color-link-hover;
          }
        }
