/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

// 页面页脚

.site-footer {
  background-color: $global-color-background-dark;
  padding: $global-spacing-unit--small $global-article-padding--small;
  color: lighten($global-color-link, 10%);

  @include breakpoint($breakpoint-monitor) {
    padding-left: $global-spacing-unit--large;
    padding-right: $global-spacing-unit--large;
  }

  a:link,
  a:visited,
  a:active,
  a:hover {
    color: lighten($global-color-link, 20%);
  }
}

@include with-layout(ltr 4 1/8) {
  .new-articles {
    @include container(100%);
    margin-bottom: $global-spacing-unit--large;
    max-height: 0;
    opacity: 0;
    transition: max-height 1s 1s, opacity 0.3s 1.5s;

    @include breakpoint($breakpoint-monitor) {
      margin-top: $global-spacing-unit--large - $global-spacing-unit--small;
    }
  }

    .new-articles__item {
      position: relative;
      height: $global-spacing-unit--huge;
      margin-bottom: $global-spacing-unit--small;
      border: 1px solid $global-color-link;
      overflow: hidden;
      transition: border-color 0.5s;
      &:hover {
        border-color: $global-color-link-hover;
      }

      @include breakpoint($breakpoint-monitor) {
        @include span(1 of 4);
        height: auto;
        &:after {
          content: '';
          display: block;
          padding-top: 16/9*100%;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .new-articles__link {
      display: block;
      padding: $global-spacing-unit--small;

      @include breakpoint($breakpoint-monitor) {
        padding: 0;
        position: absolute;
        top: $global-spacing-unit--small;
        left: $global-spacing-unit--small;
        bottom: $global-spacing-unit--small;
        right: $global-spacing-unit--small;

        &:after {
          content: '';
          @include absolute-blow-up;
          z-index: 2;
          background: rgba(0,0,0,.4);
        }
      }
    }

      .new-articles__title {
        position: absolute;
        z-index: 3;
        left: $global-spacing-unit--huge;
        right: $global-spacing-unit--small;
        bottom: 50%;
        transform: translate(0, 50%);
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.14rem;

        @include breakpoint($breakpoint-monitor) {
          left: $global-spacing-unit--tiny;
          right: $global-spacing-unit--tiny;
          bottom: 30%;
          color: #fff;
        }
      }

      .new-articles__cover {
        width: $global-spacing-unit--huge - $global-spacing-unit--small * 2;
        height: $global-spacing-unit--huge - $global-spacing-unit--small * 2;
        background-color: lighten($global-color-background-dark, 5%);

        @include breakpoint($breakpoint-monitor) {
          position: absolute;
          z-index: 1;
          height: 100%;
          width: 100%;
        }
      }
} // with-layout

  %footer-text {
    text-align: center;

    a:link,
    a:visited,
    a:active,
    a:hover {
      color: lighten($global-color-link-hover, 20%);
    }
  }

  .site-description {
    margin-bottom: $global-spacing-unit--tiny;
    text-transform: uppercase;
    @extend %footer-text;

    &:before {
      content: '';
      display: block;
      width: 50%;
      height: 5px;
      margin: 0 auto $global-spacing-unit;
      background-color: $global-color-link-hover;
    }

    &:after {
      display: block;
      width: 100%;
      margin: $global-spacing-unit--small auto;
      height: 1px;
      content: '';
      background: repeat-x center url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#333' x='0' y='0' width='1' height='0.5'/></svg>");
    }
  }

  .copyright {
    @extend %footer-text;

    .icon-heart {
      fill: #dd4b39;
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }

@import 'footer/states';
