/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

// 页面页脚

.site-footer {
  background-color: $global-color-background-dark;
  padding: $global-spacing-unit--small $global-spacing-unit--small;
  color: lighten($global-color-link, 10%);

  a:link,
  a:visited,
  a:active,
  a:hover {
    color: lighten($global-color-link, 20%);
  }
}

  .new-articles {
    margin-bottom: $global-spacing-unit--large;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
  }

    .new-articles__item {
      position: relative;
      display: block;
      height: $global-spacing-unit--huge;
      margin-bottom: $global-spacing-unit--small;
      border: 1px solid $global-color-link;
      transition: border-color 0.5s;
      &:hover {
        border-color: $global-color-link-hover;
      }
    }

    .new-articles__link {
      display: block;
      overflow: hidden;
      padding: $global-spacing-unit--small;
    }

      .new-articles__title {
        position: absolute;
        height: 50%;
        top: $global-spacing-unit--small;
        left: $global-spacing-unit--huge;
        bottom: $global-spacing-unit--small;
        right: $global-spacing-unit--small;
        margin: auto 0;
        overflow: hidden;
        font-size: 1.14rem;
      }

      .new-articles__cover {
        width: $global-spacing-unit--huge - $global-spacing-unit--small * 2;
        height: $global-spacing-unit--huge - $global-spacing-unit--small * 2;
        background-color: lighten($global-color-background-dark, 5%);
      }

  %footer-text {
    text-align: center;

    a:link,
    a:visited,
    a:active,
    a:hover {
      color: lighten($global-color-link-hover, 20%);
    }
  }

  .site-description {
    margin-bottom: $global-spacing-unit--tiny;
    text-transform: uppercase;
    @extend %footer-text;

    &:before {
      content: '';
      display: block;
      width: 50%;
      height: 5px;
      margin: 0 auto $global-spacing-unit;
      background-color: $global-color-link-hover;
    }

    &:after {
      display: block;
      width: 100%;
      margin: $global-spacing-unit--small auto;
      height: 1px;
      content: '';
      background: repeat-x center url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1' height='1'><rect fill='#333' x='0' y='0' width='1' height='0.5'/></svg>");
    }
  }

  .copyright {
    @extend %footer-text;

    .icon-heart {
      fill: #dd4b39;
      display: inline-block;
      width: 1em;
      height: 1em;
    }
  }

@import 'footer/states';
