/*------------------------------------*\
    #HOME
\*------------------------------------*/

.home-main {
  padding: 0 $global-article-padding--small;
  overflow: hidden;
  background: #fff;

  @include breakpoint($breakpoint-monitor) {
    padding-left: $global-article-padding--large;
    padding-right: $global-article-padding--large;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.home-entry-wrap {
  @include progressive-bg-container;
  display: block;

  // &:before {
  //   @extend %progressive-bg-mask;
  //   content: '';
  // }
}

.home-entry-bg-thumb {
  @extend %progressive-bg-thumbnail;
}

h1.home-entry {
  @include progressive-bg-content;
  position: relative;
  margin: 0 (-$global-spacing-unit--small);
  padding: $global-spacing-unit $global-spacing-unit--small;
  text-align: center;

  @include breakpoint($breakpoint-monitor) {
    margin: 0;
    padding: $global-spacing-unit--huge $global-spacing-unit--small;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
