/*------------------------------------*\
    #HOME
\*------------------------------------*/

.home-main {
  @extend %postify;
  padding: 0 $global-article-padding--small;
  overflow: hidden;
  background: #fff;

  @include breakpoint($breakpoint-monitor) {
    padding-left: $global-article-padding--large;
    padding-right: $global-article-padding--large;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
}

.home-entry {
  padding: $global-spacing-unit $global-spacing-unit--small;
  text-align: center;
  @include breakpoint($breakpoint-handheld) {
    margin: 0 (-$global-spacing-unit--small);
  }
}
