/*------------------------------------*\
    #MENU
\*------------------------------------*/

$menu-icon-index: 900 !default;

.site-menu-mask {
  // display: none;
  position: fixed;
  z-index: $global-z-index--mask;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  transition: opacity 0.3s, height 0s 0.3s;

  @include breakpoint($breakpoint-monitor) {
    display: none;
  }
}

.site-menu {
  position: fixed;
  z-index: $global-z-index--menu;
  top: 0;
  left: 0;
  height: 100%;

  @include breakpoint($breakpoint-handheld) {
    left: -60%;
    width: 50%;
    max-width: 250px;
    min-width: 145px;
    box-shadow: -2px 0 10px 4px rgba(0,0,0,0.9);
    transition: all 0.3s;
  }

  @include breakpoint($breakpoint-monitor) {
    @include span(7 of 24);
  }
}

.site-menu-inner-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -50%);
  text-align: center;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
}

.menu-logo {
  @include responsive-square;
  position: relative;
  width: 50%;
  margin: 0 auto 8%;
  opacity: 0.9;
  // background: url(/images/logo.svg);

  a {
    @include absolute-blow-up;
  }

  @include breakpoint($breakpoint-handheld) {
    margin: 0 auto 10%;
    width: 65%;
  }

  @include breakpoint(max-height 450px) {
    display: none;
  }
}

.menu-social-icons {
  font-size: 0;
  margin-bottom: 7%;
  margin-left: 4%;

  li {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-right: 3%;
    width: 8%;
    height: 0;
    padding-top: 8%;
  }

  @include breakpoint($breakpoint-handheld) {
    margin-bottom: 10%;

    li {
      width: 13%;
      padding-top: 13%;
      margin-right: $global-spacing-unit--tiny;
    }
  }

  a {
    @include absolute-blow-up;
  }
}

.menu-navs {
  a {
    display: block;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 2%;
  }

  a,
  a:visited {
    color: #fff;
  }
}

//
// #STATES
//
@import 'menu/states';

//
// #NO-JS
//
@import 'menu/no-js';
