/*------------------------------------*\
    #MENU
\*------------------------------------*/

$menu-icon-index: 900 !default;

.site-menu-mask {
  // display: none;
  position: fixed;
  z-index: $menu-icon-index + 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(0,0,0,0.8);
  opacity: 0;
  transition: opacity 0.3s, height 0s 0.3s;
}

.site-menu {
  position: fixed;
  z-index: $menu-icon-index + 2;
  top: 0;
  left: -60%;
  width: 50%;
  height: 100%;
  max-width: 300px;
  box-shadow: -2px 0 10px 4px rgba(0,0,0,0.9);
  transition: all 0.3s;
}

.site-menu-inner-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -50%);
  text-align: center;
}

.menu-logo {
  position: relative;
  width: 70%;
  height: 0;
  padding-top: 70%;
  margin: 0 auto 15%;
  opacity: 0.9;

  a {
    @extend %absolute-blow-up;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include breakpoint(max-height 450px) {
    display: none;
  }
}

.menu-social-icons {
  font-size: 0;
  margin-bottom: 10%;
  margin-left: 4%;

  li {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-right: 7%;
    width: 1.5rem;
    height: 1.5rem;
  }

  a {
    @extend %absolute-blow-up;
  }

  .icon-mail {
    width: 1.2rem;
  }
  .icon-rss {
    width: 1.2rem;
    margin-left: 3%;
  }
}

.menu-navs {
  a {
    display: block;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 3%;
  }

  a,
  a:visited {
    color: #fff;
  }
}

//
// #STATES
//
@import 'menu/states';

//
// #NO-JS
//
@import 'menu/no-js';
