/*------------------------------------*\
    #POST LIST
\*------------------------------------*/

.post-list-header {
  padding: $global-spacing-unit--tiny $global-spacing-unit;
  text-align: center;
  color: $global-color-link;

  @include breakpoint($breakpoint-handheld) {
    font-size: 1.2em;
  }
}

.post-list {
  text-align: center;

  a,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
  }

  a:focus {
    outline: 0 none;
  }
}

.post-list-title {
  padding: $global-spacing-unit--huge $global-spacing-unit;
  font-weight: bolder;

  @include breakpoint($breakpoint-handheld) {
    padding: $global-spacing-unit--large $global-spacing-unit;
    font-size: 1.8em;
    font-weight: normal;
  }
}

