/*------------------------------------*\
    #TOC
\*------------------------------------*/

/*
 * Table of Contents
 */
.toc-wrapper {
  position: fixed;
  // menu mask on +1
  z-index: $global-z-index--toc;
  top: 10%;
  left: 100%;
  max-width: 300px;
  max-height: 100%;
  padding-left: $global-spacing-unit--small;
  padding-bottom: $global-spacing-unit;
  transition: all 0.3s;
  transform: translate(-$global-spacing-unit--small, 0);
}

.toc {
  overflow: hidden;
  padding: $global-spacing-unit 0;
  background: $global-color-background-dark;
  box-shadow: 1px 4px 11px 0 rgba(0, 0, 0, 0.4);
  opacity: .9;

  ol {
    margin-left: $global-spacing-unit--small;
  }

  a,
  a:visited,
  a:hover,
  a:active,
  a:focus {
    color: $global-color-background;
    outline: 0;
  }
}

.toc-child {
  font-size: 0.86em;
}

.toc-link {
  display: block;
  overflow: hidden;
  padding: 0 $global-spacing-unit 0 $global-spacing-unit--small;
  white-space: nowrap;
  border-top: 1px solid transparent;
  -webkit-tap-highlight-color: transparent;
}

@import 'toc/states';
