<article class="site-about">
  <section class="about-intro">
    <%- page.content || body %>
  </section>
  <section class="my-social-media">
    <p class="title">可以在以下平台找到我：</p>
    <ul class="my-social-media-list">
<%
      ;[
        { svg: 'icon-github-circle', url: '//github.com/' + theme.github },
        { svg: 'icon-weibo-circle', url: '//www.weibo.com/' + theme.weibo },
        { svg: 'icon-douban-circle', url: '//www.douban.com/people/' + theme.douban },
        { svg: 'icon-netease-music-circle', url: '//music.163.com/' + theme.netease_music.playlist },
        { svg: 'icon-zhihu-circle', url: '//www.zhihu.com/people/' + theme.zhihu + '/answers' },
        'hr',
        { svg: 'icon-mail-circle', url: 'mailto:' + theme.mail },
        { svg: 'icon-twitter-circle', url: '//twitter.com/' + theme.twitter },
        { svg: 'icon-codepen-circle', url: '//codepen.io/' + theme.codepen },
        { svg: 'icon-bilibili-circle', url: '//space.bilibili.com/' + theme.bilibili },
        { svg: 'icon-v2ex-circle', url: '//www.v2ex.com/member/' + theme.v2ex }
      ].forEach(icon => {
        if (icon === 'hr') {
%>
          <hr>
<%
        } else {
%>
          <li>
            <svg>
              <a href="<%- icon.url %>" target="_blank"></a>
              <use xlink:href="<%- theme.icon_symbols %>#<%- icon.svg %>"></use>
            </svg>
          </li>
<%
        }
      })
%>
    </ul>
  </section>
  <section class="douban-recommendation js-no-wrap-menu">
    <p class="title">觉得不错的一些书和影视作品：</p>
    <div class="douban-books">
      <script type="text/javascript" src="http://www.douban.com/service/badge/jaward/?selection=favorite&amp;picsize=medium&amp;hideself=on&amp;show=collection&amp;n=20&amp;hidelogo=on&amp;cat=book&amp;columns=20"></script>
    </div>
    <div class="douban-movies">
      <script type="text/javascript" src="http://www.douban.com/service/badge/jaward/?selection=favorite&amp;picsize=medium&amp;hideself=on&amp;show=collection&amp;n=20&amp;hidelogo=on&amp;cat=movie&amp;columns=20"></script>
    </div>
  </section>
  <section class="netease-music-playlist">
    <p class="title">最近循环的音乐：</p>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=100% height=450 src="http://music.163.com/outchain/player?type=0&id=322733427&auto=0&height=430"></iframe>
  </section>
</article>
