<section id="comments">
  <% if (config.disqus_shortname) { %>
    <div id="disqus_thread"
      <% if (page.permalink){ %> data-url="<%= page.permalink %>" <% } %>
      data-identifier="<%= page.path %>"
      data-src="//<%- config.disqus_shortname %>.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>"
    >
      <div class="no-comments">您还在局域网。 ——来自隔墙相望的评论</div>
      <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  <% } %>
</section>
