<noscript>
  <style>
    .noscript-warning {
      position: fixed;
      z-index: 999999;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 10px;
      font-size: 1.2em;
      color: #fff;
      background: orange;
      text-align: center;
    }
  </style>
  <div class="noscript-warning">This site works best with JavaScript enabled</div>
</noscript>
